<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>BleWidget</string>
    <key>CFBundleIdentifier</key>
    <string>dev.totem.blewidget</string>
    <key>CFBundleExecutable</key>
    <string>BleWidget</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Reads keyboard layer and modifier status over Bluetooth.</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>KBPSupportedVersions</key>
    <array>
        <string>AA440AA0-F5ED-4C48-84A1-8062D20D3D55</string>
    </array>
</dict>
</plist>
